@{
    ViewData["Title"] = "Home Page";
}
<div style="width:95%;margin:auto">
    <div style="width:75%;float:left">
        <h2>Dummy post</h2>
        <p>Some text Some text Some text Some text Some text Some text</p>
    </div>
    <div style="float:right;width:25%">
        <h2>
            Welcome to my Blog...
        </h2>
        <img style="width:80%;border-radius:50%;padding-bottom:20px" src="images/eu.jpeg">
         <div style="width:100%;float:left;">
            <p>My name is Gabriel, and im currently a undergraduate studying IT in Universidade Federal Fluminense </p>
        </div>
        <div style="width:80%;float:left">
            <p>Im developing this blog so i can keep studying and also help others at the same time.</p>
        </div>
        <div style="width:80%;float:left">
            <p>email me at gabriel.lco@gmail.com </p>
            <p>I'll post the source codes at <a href="http://github.com/glco/">http://github.com/glco/</a></p>
        </div>
    </div> 
</div>